<template>
  <button
      class="btn"
      :class="buttonType"
  >
    {{ title }}
  </button>
</template>

<script>
export default {
  name: "MButton",
  props: ['title'],
  data() {
    return {
      buttonType: 'default'
    }
  },
}
</script>

<style scoped>
.btn {
  border: none;
  color: white;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 0.5rem;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.default {
  background-color: #2196F3;
}
.default:hover {
  background-color: #0b7dda;
}
.danger {
  background-color: #f44336;
}
.danger:hover {
  background-color: #da190b;
}

</style>